.headerColor {
  background-color:#267955;
}

.treeColor {
  background-color:DarkSlateGray;
}

.maxWidth {
	width:100%;
}

.font-big {
	font-size:30px;
}

.white-color>button>span>span{
	color:white!important;
}

.no-shadow>button>span {
	color:white!important;
	text-shadow: none;
}

.margins-dialog>section>div>div {
	margin:10px 10px 0px 10px;
}

.bottom-margin {
	margin-bottom:10px;
}

.tree-height {
	height:-webkit-fill-available!important;
}

* {box-sizing: border-box; padding: 0; margin: 0;  }
html, body { width: 100vw; height: 100%; overflow: hidden; display: flex;
  flex-direction: column; }
div#tree { position: relative; width: 100vw; height: 100vh; overflow: auto; }
div.node {
	width: 64px; height: 64px; line-heig3ht: 64px;
	background-color: #339; color: #efefef;
	font-family: sans-serif; font-size: 0.7em;
	text-align: center; border-radius: 50%;    padding-top: 2%;
 
	overflow: hidden; position: absolute; z-index: 2;
} 
div.connector { position: absolute; background-color: #333; z-index: 1; }
div.connector.h { height: 2px; background-color: #ddd; }
div.connector.v { height: 1px; background-color: #66d; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }
div[data-level='0'] { background-color: #00A06E; }
div[data-level='1'], div[data-level='-1'] { background-color: #E2AF56; }
div[data-level='2'], div[data-level='-2'] { background-color: #FF003E; }
div[data-level='3'], div[data-level='-3'] { background-color: #00B9D7; }
div[data-level='4'], div[data-level='-4'] { background-color: #565656; }
div[data-level='5'], div[data-level='-5'] { background-color: #D641C7; }